<div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button (click)="dialogRef.close()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ng-container *ngTemplateOutlet="modalBody; context: myContext"></ng-container>
            </div>
            <div class="modal-footer">
                <button (click)="dialogRef.close(myContext.data)" type="button" class="btn btn-primary">Apply</button>
            </div>
        </div>
</div>
